<a href="https://colab.research.google.com/github/MarkKorolev/sf_data_science/blob/main/10_4_%D0%A0%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_%D1%81_%D1%80%D0%B0%D0%B7%D0%BB%D0%B8%D1%87%D0%BD%D1%8B%D0%BC%D0%B8_%D0%B8%D1%81%D1%82%D0%BE%D1%87%D0%BD%D0%B8%D0%BA%D0%B0%D0%BC%D0%B8_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85_%D0%B2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('https://drive.google.com/drive/my-drive/countries.csv', index=False, sep=';')

TypeError: ignored

In [5]:
data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
display(data)

       Unnamed: 0        Suburb  ...             Regionname  Propertycount
0               1    Abbotsford  ...  Northern Metropolitan         4019.0
1               2    Abbotsford  ...  Northern Metropolitan         4019.0
2               4    Abbotsford  ...  Northern Metropolitan         4019.0
3               5    Abbotsford  ...  Northern Metropolitan         4019.0
4               6    Abbotsford  ...  Northern Metropolitan         4019.0
...           ...           ...  ...                    ...            ...
18391       23540  Williamstown  ...   Western Metropolitan         6380.0
18392       23541  Williamstown  ...   Western Metropolitan         6380.0
18393       23544     Yallambie  ...  Northern Metropolitan         1369.0
18394       23545    Yarraville  ...   Western Metropolitan         6543.0
18395       23546    Yarraville  ...   Western Metropolitan         6543.0

[18396 rows x 22 columns]

In [8]:
display(data.loc[15,'Price'])

700000.0

In [17]:
melb_data = pd.read_csv('https://github.com/MarkKorolev/sf_data_science/blob/main/melb_data.csv',sep=',')
display(melb_data)

ParserError: ignored